# Copy to deploy/development.env and fill in the values (gitignored - do not commit).
#
#   ./deploy/deploy.sh development upload
#   ./deploy/deploy.sh development finalize

CPANEL_HOST=ftp.anufa-technologies.my.id
CPANEL_USERNAME=root@anufa-technologies.my.id
CPANEL_PASSWORD=

CPANEL_SUBDOMAIN_PATH=anufa-minerva-dev
CPANEL_DOCROOT_PATH=minerva-dev.anufa-technologies.my.id

APP_URL=https://minerva-dev.anufa-technologies.my.id
DEPLOY_TOKEN=
