# Copy to deploy/production.env and fill in the values (gitignored - do not commit).
#
#   ./deploy/deploy.sh production upload
#   ./deploy/deploy.sh production finalize

CPANEL_HOST=ftp.anufa-technologies.my.id
CPANEL_USERNAME=root@anufa-technologies.my.id
CPANEL_PASSWORD=

CPANEL_SUBDOMAIN_PATH=anufa-minerva
CPANEL_DOCROOT_PATH=minerva.anufa-technologies.my.id

APP_URL=https://minerva.anufa-technologies.my.id
DEPLOY_TOKEN=
